<h1>New Photo for <%= @album.name %></h1>
<%= form_with model: [@album, @photo], local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit 'Add Photo' %>
  </div>
<% end %>
