<h1>Share Photo: <%= @photo.title %></h1>

<%= form_with(url: update_share_album_photo_path(@album, @photo), method: :patch, local: true) do |form| %>
  <div>
    <h3>Select Users to Share With:</h3>
    <% @users.each do |user| %>
      <div>
        <%= check_box_tag 'shared_user_ids[]', user.id, @photo.shared_users.include?(user) %>
        <%= user.email %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit 'Update Sharing' %>
  </div>
<% end %>
